<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Buttons</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
	<!-- Style sheets -->
	<link rel="stylesheet" href="../build/css/main.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
	<div class="wrapper"><!-- page wrapper start -->
		<header class="wrapper__header">
			<h1 class="wrapper__header__h1">Buttons</h1>
			<h4 class="wrapper__header__h4">Commonly used buttons.</h4>
		</header>

		<section>
			<article class="sec__article">
				<h3 class="sec__article__h3">Basic</h3>
				<div class="sec__article__ele">
					<button type="button" class="button button--shadow-blue">Primary</button>
					<button type="button" class="button button--shadow-blue">Secondary</button> 
					<button type="button" class="button button--shadow-blue"><i class="fa fa-upload button__i" aria-hidden="true"></i>Upload</button> 
					<button type="button" class="button button--shadow-blue"><i class="fa fa-pencil button__i" aria-hidden="true"></i>Edit</button> 
					<button type="button" class="button button--shadow-blue"><i class="fa fa-plus button__i" aria-hidden="true"></i>Add</button> 
					<button type="button" class="button button--shadow-grey button--grey"><i class="fa fa-search button__i" aria-hidden="true"></i>Search</button> 
				</div>
				<input type="button" name="markup" id="markup" value="Show markup" class="btn-markup">
				<figure class="markup" id="markupCont">
					<pre><code>
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b>Primary<b>&lt;/button&gt;</b>
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b>Secondary<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;&lt;i</b> class="<g>fa fa-upload button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Upload<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b><b>&lt;i</b> class="<g>fa fa-pencil button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Edit<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b><b>&lt;i</b> class="<g>fa fa-plus button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Add<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-grey button--grey</g>"<b>&gt;&lt;i</b> class="<g>fa fa-search button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Search<b>&lt;/button&gt;</b> 
					</code></pre>
				</figure>
				<hr class="sec__article__hr">
			</article>
			
			<article class="sec__article">
				<h3 class="sec__article__h3">Rounded</h3>
				<div class="sec__article__ele">
					<button type="button" class="button button--shadow-blue button--rounded">Primary</button>
					<button type="button" class="button button--shadow-blue button--rounded">Secondary</button> 
					<button type="button" class="button button--shadow-blue button--rounded"><i class="fa fa-upload button__i" aria-hidden="true"></i>Upload</button> 
					<button type="button" class="button button--shadow-blue button--rounded"><i class="fa fa-pencil button__i" aria-hidden="true"></i>Edit</button> 
					<button type="button" class="button button--shadow-blue button--rounded"><i class="fa fa-plus button__i" aria-hidden="true"></i>Add</button> 
					<button type="button" class="button button--shadow-grey button--grey button--rounded"><i class="fa fa-search button__i" aria-hidden="true"></i>Search</button> 
				</div>
				<input type="button" name="markup" id="markup" value="Show markup" class="btn-markup">
				<figure class="markup" id="markupCont">
					<pre><code>
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue button--rounded</g>"<b>&gt;</b>Primary<b>&lt;/button&gt;</b>
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue button--rounded</g>"<b>&gt;</b>Secondary<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue button--rounded</g>"<b>&gt;&lt;i</b> class="<g>fa fa-upload button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Upload<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue button--rounded</g>"<b>&gt;</b><b>&lt;i</b> class="<g>fa fa-pencil button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Edit<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue button--rounded</g>"<b>&gt;</b><b>&lt;i</b> class="<g>fa fa-plus button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Add<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-grey button--grey button--rounded</g>"<b>&gt;&lt;i</b> class="<g>fa fa-search button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Search<b>&lt;/button&gt;</b> 
					</code></pre>
				</figure>
				<hr class="sec__article__hr">
			</article>

			<article class="sec__article">
				<h3 class="sec__article__h3">Animated</h3>
				<div class="sec__article__ele">
					<button type="button" class="button button--border-blue">Primary</button>
					<button type="button" class="button button--border-blue">Secondary</button> 
					<button type="button" class="button button--border-blue"><i class="fa fa-upload button__i" aria-hidden="true"></i>Upload</button> 
					<button type="button" class="button button--border-blue"><i class="fa fa-pencil button__i" aria-hidden="true"></i>Edit</button> 
					<button type="button" class="button button--border-blue"><i class="fa fa-plus button__i" aria-hidden="true"></i>Add</button> 
					<button type="button" class="button button--border-grey"><i class="fa fa-search button__i" aria-hidden="true"></i>Search</button> 
				</div>
				<input type="button" name="markup" id="markup" value="Show markup" class="btn-markup">
				<figure class="markup" id="markupCont">
					<pre><code>
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--border-blue</g>"<b>&gt;</b>Primary<b>&lt;/button&gt;</b>
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--border-blue</g>"<b>&gt;</b>Secondary<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--border-blue</g>"<b>&gt;&lt;i</b> class="<g>fa fa-upload button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Upload<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--border-blue</g>"<b>&gt;</b><b>&lt;i</b> class="<g>fa fa-pencil button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Edit<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--border-blue</g>"<b>&gt;</b><b>&lt;i</b> class="<g>fa fa-plus button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Add<b>&lt;/button&gt;</b> 
<b>&lt;button</b> type="<g>button</g>" class="<g>button button--border-grey</g>"<b>&gt;&lt;i</b> class="<g>fa fa-search button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Search<b>&lt;/button&gt;</b> 
					</code></pre>
				</figure>
				<hr class="sec__article__hr">
			</article>
		</section>		
	</div><!-- page wrapper end -->
	<script type="text/javascript" src="../build/js/main.js"></script></body>
</html>