<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Cards</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
	<!-- Style sheets -->
	<link rel="stylesheet" href="../build/css/main.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
	<div class="wrapper"><!-- page wrapper start -->
		<header class="wrapper__header">
			<h1 class="wrapper__header__h1">Cards</h1>
			<h4 class="wrapper__header__h4">Commonly used cards.</h4>
		</header>

		<section>
			<article class="sec__article">
				<h3 class="sec__article__h3">Basic</h3>
				<div class="sec__article__ele">
					<div class="card">
						<div class="card__top">
							<h1 class="card__top__h1">$15</h1>
							<h4 class="card__top__h4">psd version</h4>
							<div class="card__bottom">
								<p><span class="card__bottom--bold-txt">Photoshop CS6+</span> Optimized</p>
								<p><span class="card__bottom--bold-txt">Vector Shapes</span> Used</p>
								<p><span class="card__bottom--bold-txt">Well Organized</span> PSD Files</p>
								<p><span class="card__bottom--bold-txt">Light & Dark</span> Theme</p>
								<p class="card__bottom__para--last-child"><span class="card__top--bold-txt ">Free Fonts</span> Used</p>
								<button type="button" class="button button--shadow-blue">Buy now</button>
							</div>
						</div>
					</div>

					<div class="card__des">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia nunc sem, sed interdum turpis pharetra id. Proin fringilla ac est vitae sagittis. Aenean ultrices lobortis nibh ut pellentesque. Etiam nec nibh id sapien varius venenatis. Suspendisse a aliquet eros.</p>
					</div>
				</div>
				<input type="button" name="markup" id="markup" value="Show markup" class="btn-markup">
				<figure class="markup" id="markupCont">
					<pre><code>
<b>&lt;div</b> class="<g>card</g>"<b>&gt;</b>
	<b>&lt;div</b> class="<g>card__top</g>"<b>&gt;</b>
		<b>&lt;h1</b> class="<g>card__top__h1</g>"<b>&gt;</b>$15<b>&lt;/h1&gt;</b>
		<b>&lt;h4</b> class="<g>card__top__h4</g>"<b>&gt;</b>psd version<b>&lt;/h4&gt;</b>
		<b>&lt;div</b> class="<g>card__bottom</g>"<b>&gt;</b>
			<b>&lt;p&gt;&lt;span</b> class="<g>card__bottom--bold-txt</g>"<b>&gt;</b>Photoshop CS6+<b>&lt;/span&gt;</b> Optimized<b>&lt;/p&gt;</b>
			<b>&lt;p&gt;&lt;span</b> class="<g>card__bottom--bold-txt</g>"<b>&gt;</b>Vector Shapes<b>&lt;/span&gt;</b> Used<b>&lt;/p&gt;</b>
			<b>&lt;p&gt;&lt;span</b> class="<g>card__bottom--bold-txt</g>"<b>&gt;</b>Well Organized<b>&lt;/span&gt;</b> PSD Files<b>&lt;/p&gt;</b>
			<b>&lt;p&gt;&lt;span</b> class="<g>card__bottom--bold-txt</g>"<b>&gt;</b>Light & Dark<b>&lt;/span&gt;</b> Theme<b>&lt;/p&gt;</b>
			<b>&lt;p</b> class="<g>card__bottom__para--last-child</g>"<b>&gt;&lt;span</b> class="<g>card__top--bold-txt</g>"&gt;Free Fonts<b>&lt;/span&gt;</b> Used<b>&lt;/p&gt;</b>
			<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b>Buy now<b>&lt;/button&gt;</b>
		<b>&lt;/div&gt;</b>
	<b>&lt;/div&gt;</b>
<b>&lt;/div&gt;</b>
					</code></pre>
				</figure>
				<hr class="sec__article__hr">
			</article>

			<article class="sec__article">
				<h3 class="sec__article__h3">Profile Card</h3>
				<div class="sec__article__ele">
					<div class="card3">
						<div class="card3__innerContainer">
							<img src="../build/images/profile-pic.jpg" class="card3__img">
							<h2 class="card3__h2">Monkee Bananas</h2>
							<h4 class="card3__h4">Chief Executive Officer</h4>
							<h4 class="card3__h4 card3--last-child">Melbourne</h4>
							<p><span class="card__bottom--bold-txt">Mobile:</span> +61 123 000 456</p>
							<p><span class="card__bottom--bold-txt">Email:</span><a href="#"> monkee@test.com</a></p>
						</div>
					</div>

					<div class="card__des">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia nunc sem, sed interdum turpis pharetra id. Proin fringilla ac est vitae sagittis. Aenean ultrices lobortis nibh ut pellentesque. Etiam nec nibh id sapien varius venenatis. Suspendisse a aliquet eros.</p>
					</div>
				</div>
				<input type="button" name="markup" id="markup" value="Show markup" class="btn-markup">
				<figure class="markup" id="markupCont">
					<pre><code>
<b>&lt;div</b> class="<g>card3</g>"<b>&gt;</b>
	<b>&lt;div</b> class="<g>card3__innerContainer</g>"<b>&gt;</b>
		<b>&lt;img</b> src="<g>../images/profile-pic.jpg</g>" class="<g>card3__img</g>"<b>&gt;</b>
		<b>&lt;h2</b> class="<g>card3__h2</g>"<b>&gt;</b>Monkee Bananas<b>&lt;/h2&gt;</b>
		<b>&lt;h4</b> class="<g>card3__h4</g>"<b>&gt;</b>Chief Executive Officer<b>&lt;/h4&gt;</b>
		<b>&lt;h4</b> class="<g>card3__h4 card3--last-child</g>"<b>&gt;</b>Melbourne<b>&lt;/h4&gt;</b>
		<b>&lt;p&gt;&lt;span</b> class="<g>card__bottom--bold-txt</g>"<b>&gt;</b>Mobile:<b>&lt;/span&gt;</b> +61 123 000 456<b>&lt;/p&gt;</b>
		<b>&lt;p&gt;&lt;span</b> class="<g>card__bottom--bold-txt</g>"<b>&gt;</b>Email:<b>&lt;/span&gt;&lt;a href</b>="<g>#</g>"<b>&gt;</b> monkee@test.com</a><b>&lt;/p&gt;</b>
	<b>&lt;/div&gt;</b>
<b>&lt;/div&gt;</b>
					</code></pre>
				</figure>
				<hr class="sec__article__hr">
			</article>

			<article class="sec__article">
				<h3 class="sec__article__h3">Card with Images</h3>
				<div class="sec__article__ele">
					<div class="card2">
						<div class="card2__top">
							<div class="card2__top__img"></div>
							<div class="card2__bottom">
								<p class="card2__bottom__para--first-child">Feb 26, 2017</p>
								<h2 class="card2__bottom__h2">Bendin' in the wind</h2>
								<p class="card2__bottom__para--last-child">Goodbye, friends. I never thought I'd die like this. But I always really hoped. We can't compete with Mom! Her company is big and evil!</p>
								<button type="button" class="button button--shadow-blue">Read more</button>
							</div>
						</div>
					</div>

					<div class="card__des">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia nunc sem, sed interdum turpis pharetra id. Proin fringilla ac est vitae sagittis. Aenean ultrices lobortis nibh ut pellentesque. Etiam nec nibh id sapien varius venenatis. Suspendisse a aliquet eros.</p>
					</div>
				</div>
				<input type="button" name="markup" id="markup" value="Show markup" class="btn-markup">
				<figure class="markup" id="markupCont">
					<pre><code>
<b>&lt;div</b> class="<g>card2</g>"<b>&gt;</b>
	<b>&lt;div</b> class="<g>card2__top</g>"<b>&gt;</b>
		<b>&lt;div</b> class="<g>card2__top__img</g>"<b>&gt;&lt;/div&gt;</b>
		<b>&lt;div</b> class="<g>card2__bottom</g>"<b>&gt;</b>
			<b>&lt;p</b> class="<g>card2__bottom__para--first-child</g>"<b>&gt;</b>Feb 26, 2017<b>&lt;/p&gt;</b>
			<b>&lt;h2</b> class="<g>card2__bottom__h2</g>"<b>&gt;</b>Bendin' in the wind<b>&lt;/h2&gt;</b>
			<b>&lt;p</b> class="<g>card2__bottom__para--last-child</g>"<b>&gt;</b>Goodbye, friends. I never thought I'd die like this. But I always really hoped. We can't compete with Mom! Her company is big and evil!<b>&lt;/p&gt;</b>
			<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b>Read more<b>&lt;/button&gt;</b>
		<b>&lt;/div&gt;</b>
	<b>&lt;/div&gt;</b>
<b>&lt;/div&gt;</b>
					</code></pre>
				</figure>
				<hr class="sec__article__hr">
			</article>
		</section>		
	</div><!-- page wrapper end -->
	<script type="text/javascript" src="../build/js/main.js"></script></body>
</html>