<!DOCTYPE html>
<html>
<head>
  <title>Footer</title>
  <link rel="stylesheet" href="../build/css/main.css"/></head>
<body>
  <div class="footer">
    <div class="footer__logo">
      Bov Academy
    </div>
    <div class="footer__body">
      <div class="footer__links">
      <div class="footer__links__cat">
        About
      </div>
      <ul>
        <li>Bov Academy</li>
        <li>Mission</li>
        <li>Press</li>
      </ul>
      </div>
      <div class="footer__links">
        <div class="footer__links__cat">
          Courses
        </div>
        <ul>
          <li>Bov Academy</li>
          <li>Courses</li>
          <li>Instructors</li>
        </ul>
      </div>
      <div class="footer__links">
        <div class="footer__links__cat">
          Helpful Links
        </div>
        <ul>
          <li>Contact Us</li>
          <li>Login</li>
          <li>Find more information</li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      Copy rights &copy; 2017 Example Company. All rights reserved.
    </div>
  </div>
  <br>
  <br>
  <div class="footer footer--dark">
    <div class="footer__logo">
      Bov Academy
    </div>
    <div class="footer__body">
      <div class="footer__links">
      <div class="footer__links__cat">
        About
      </div>
      <ul>
        <li>Bov Academy</li>
        <li>Mission</li>
        <li>Press</li>
      </ul>
      </div>
      <div class="footer__links">
        <div class="footer__links__cat">
          Courses
        </div>
        <ul>
          <li>Bov Academy</li>
          <li>Courses</li>
          <li>Instructors</li>
        </ul>
      </div>
      <div class="footer__links">
        <div class="footer__links__cat">
          Helpful Links
        </div>
        <ul>
          <li>Contact Us</li>
          <li>Login</li>
          <li>Find more information</li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      Copy rights &copy; 2017 Example Company. All rights reserved.
    </div>
  </div>
</body>
</html>