<!DOCTYPE html>
<html>
<head>
  <title>List Groups</title>
  <link rel="stylesheet" href="../build/css/main.css"/></head>
<body>

  <ul class="list-group">
    <li>List group item 1</li>
    <li>List group item 2</li>
    <li>List group item 3</li>
    <li>List group item 4</li>
  </ul>

  <br><br>

   <ul class="list-group list-group--grey">
    <li>List group item 1</li>
    <li>List group item 2</li>
    <li>List group item 3</li>
    <li>List group item 4</li>
  </ul>

  <br><br>

   <ul class="list-group list-group--blue">
    <li>List group item 1</li>
    <li>List group item 2</li>
    <li>List group item 3</li>
    <li>List group item 4</li>
  </ul>

  <br><br>

  <ul class="list-group">
    <li>
      <div class="list-group__heading">
        List group item 1 heading
      </div>
      List group item 1
    </li>
    <li>
      <div class="list-group__heading">
        List group item 2 heading
      </div>
      List group item 2
    </li>
    <li>
      <div class="list-group__heading">
        List group item 3 heading
      </div>
      List group item 3
    </li>
    <li>
      <div class="list-group__heading">
        List group item 4 heading
      </div>
      List group item 4
    </li>
  </ul>



</body>
</html>