<!DOCTYPE html>
<html>
<head>
  <title>Modals</title>
  <link rel="stylesheet" href="../build/css/main.css"/></head>
<body>

  <div class="modal">
    <div class="modal__body">
      <div class="modal__body__heading">
        Permission denied
      </div>
      Bender, we're trying our best. You'll have all the Slurm you can drink when you're partying with Slurms McKenzie!
    </div>
    <div class="modal__button modal__button--positive">
      Apply
    </div>
    <div class="modal__button modal__button--false">
      Cancel
    </div>
  </div>

  <br>
  <br>

  <div class="modal modal--grey">
    <div class="modal__body">
      <div class="modal__body__heading">
        Access granted
      </div>
      Bender, we're trying our best. You'll have all the Slurm you can drink when you're partying with Slurms McKenzie!
    </div>
    <div class="modal__button modal__button--positive">
      Apply
    </div>
    <div class="modal__button modal__button--false">
      Cancel
    </div>
  </div>

</body>
</html>