<!DOCTYPE html>
<html>
<head>
  <title>Panels</title>
  <link rel="stylesheet" href="../build/css/main.css"/></head>
<body>

  <div class="panel">
    <div class="panel__body">
      Panel Body
    </div>
  </div>

  <br>
  <br>

  <div class="panel">
    <div class="panel__heading">
      Panel Heading
    </div>
    <div class="panel__body">
      Panel Body
    </div>
  </div>

  <br>
  <br>

  <div class="panel panel--dark">
    <div class="panel__heading">
      Panel Heading
    </div>
    <div class="panel__body">
      Panel Body
    </div>
  </div>

</body>
</html>