<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Team Profiles</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
	<!-- Style sheets -->
	<link rel="stylesheet" href="../build/css/main.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
	<div class="wrapper"><!-- page wrapper start -->
		<header class="wrapper__header">
			<h1 class="wrapper__header__h1">Team Profiles</h1>
			<h4 class="wrapper__header__h4">Innovative UI for team page.</h4>
		</header>

		<section>
			<article class="sec__article">
				<div class="sec__article__ele">

					<div class="member-profile">

						<div id="profile-first"> <!--First Slide start-->
							<img class="member-profile__img" src="../images/1.jpg">
							<h1 class="member-profile__name">Joseph Cha</h1>
							<h3 class="member-profile__position">Front End Developer</h3>
							<p class="member-profile__intro">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac condimentum ligula. Vivamus in aliquet diam. Nulla neque risus, elementum id aliquam quis, pharetra ac eros. Nunc convallis purus sapien, nec ullamcorper dui vestibulum pulvinar. Proin eu lorem tempor, varius eros a, tempus erat. Integer mollis tortor tortor, dictum volutpat lacus tincidunt a. Suspendisse potenti. Vivamus eu erat neque. Pellentesque commodo luctus massa sed consequat. Proin mattis lorem et placerat efficitur. 
							</p>
						</div> <!--First Slide end-->

						<div id="profile-second"> <!--Second Slide start-->
							<img class="member-profile__img" src="../images/2.jpg">
							<h1 class="member-profile__name">Tim Ramos</h1>
							<h3 class="member-profile__position">Front End Developer</h3>
							<p class="member-profile__intro">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac condimentum ligula. Vivamus in aliquet diam. Nulla neque risus, elementum id aliquam quis, pharetra ac eros. Nunc convallis purus sapien, nec ullamcorper dui vestibulum pulvinar. Proin eu lorem tempor, varius eros a, tempus erat. Integer mollis tortor tortor, dictum volutpat lacus tincidunt a. Suspendisse potenti. Vivamus eu erat neque. Pellentesque commodo luctus massa sed consequat. Proin mattis lorem et placerat efficitur. 
							</p>
						</div> <!--Second Slide end-->

						<div id="profile-third"> <!--Third Slide start-->
							<img class="member-profile__img" src="../images/3.jpg">
							<h1 class="member-profile__name">Mao Yubin</h1>
							<h3 class="member-profile__position">Front End Developer</h3>
							<p class="member-profile__intro">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac condimentum ligula. Vivamus in aliquet diam. Nulla neque risus, elementum id aliquam quis, pharetra ac eros. Nunc convallis purus sapien, nec ullamcorper dui vestibulum pulvinar. Proin eu lorem tempor, varius eros a, tempus erat. Integer mollis tortor tortor, dictum volutpat lacus tincidunt a. Suspendisse potenti. Vivamus eu erat neque. Pellentesque commodo luctus massa sed consequat. Proin mattis lorem et placerat efficitur. 
							</p>
						</div> <!--Third Slide end-->

						<div id="profile-fourth"> <!--Fourth Slide start-->
							<img class="member-profile__img" src="../images/4.jpg">
							<h1 class="member-profile__name">Monali Ghosh</h1>
							<h3 class="member-profile__position">Front End Developer</h3>
							<p class="member-profile__intro">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac condimentum ligula. Vivamus in aliquet diam. Nulla neque risus, elementum id aliquam quis, pharetra ac eros. Nunc convallis purus sapien, nec ullamcorper dui vestibulum pulvinar. Proin eu lorem tempor, varius eros a, tempus erat. Integer mollis tortor tortor, dictum volutpat lacus tincidunt a. Suspendisse potenti. Vivamus eu erat neque. Pellentesque commodo luctus massa sed consequat. Proin mattis lorem et placerat efficitur. 
							</p>
						</div> <!--Fourth Slide end-->

					</div>

					<div class="member-pics">
						<ul class="member-pics__list">
							<li class="member-pics__list__items first" id="first"></li>
							<li class="member-pics__list__items second" id="second"></li>
							<li class="member-pics__list__items third" id="third"></li>
							<li class="member-pics__list__items fourth" id="fourth"></li>
						</ul>
					</div>

				</div>
				<input type="button" name="markup" id="markup" value="Show markup" class="btn-markup">
				<figure class="markup" id="markupCont">
					<pre><code>
						<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b>Primary<b>&lt;/button&gt;</b>
						<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b>Secondary<b>&lt;/button&gt;</b> 
						<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;&lt;i</b> class="<g>fa fa-upload button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Upload<b>&lt;/button&gt;</b> 
						<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b><b>&lt;i</b> class="<g>fa fa-pencil button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Edit<b>&lt;/button&gt;</b> 
						<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-blue</g>"<b>&gt;</b><b>&lt;i</b> class="<g>fa fa-plus button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Add<b>&lt;/button&gt;</b> 
						<b>&lt;button</b> type="<g>button</g>" class="<g>button button--shadow-grey button--grey</g>"<b>&gt;&lt;i</b> class="<g>fa fa-search button__i</g>" aria-hidden="<g>true</g>"<b>&gt;&lt;/i&gt;</b>Search<b>&lt;/button&gt;</b> 
					</code></pre>
				</figure>
				<hr class="sec__article__hr">
			</article>
		</section>		
	</div><!-- page wrapper end -->
	<script type="text/javascript" src="../build/js/main.js"></script>	<script type="text/javascript" src="../javascripts/team.js"></script>
</body>
</html>